@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Pacifico&family=Satisfy&display=swap');
$primary_color: #d38c5c;


@mixin respond-to($breakpoint) {
    @if $breakpoint =='phone' {
        @media (max-width: 600px) {
            @content;
        }
    }

    @else if $breakpoint =='tablet' {
        @media (max-width: 900px) {
            @content;
        }
    }

    @else {
        @media (max-width: 1200px) {
            @content;
        }
    }
}

%menu-btn {
    width: 40px;
    height: 4px;
    background-color: $primary_color;
}

@mixin menu-open () {
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 40px;
    width: calc(100vw - 110px);
    padding: 3vh 5vw;
    color: rgb(215, 167, 135);
    background-color: rgba(248, 192, 146, 0.4);
    box-shadow: 0 0 25px rgba(111, 69, 14, 0.5);
    border-top-left-radius: 10%;
    overflow: hidden;
}

@mixin menu-open-before ($boll-position) {
    content: "";
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    background-color: rgb(60, 27, 2);
    box-shadow: 0 0 45px rgba(215, 168, 114, 0.5);
    border: 1px solid #f2e0ba;
    position: absolute;
    left: -$boll-position;
    top: -$boll-position;
}

@mixin li-open () {
    background-color: #000;
    width: 90%;
    height: 8vh;
    border-radius: 0;
    border-top-right-radius: 20px;
    box-shadow: 0 0 25px rgba(198, 115, 7, 0.5);
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

@keyframes hide-menu {
    from {
        width: calc(100vw - 110px);
    }

    to {
        width: 0px;
        background-color: transparent;
    }
}

@keyframes show-menu {
    from {
        background-color: transparent;
        width: 0;
    }

    to {
        width: calc(100vw - 110px);
        box-shadow: 0 0 25px rgba(198, 115, 7, 0.5);
    }
}


@keyframes light {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

@keyframes circle {
    0% {
        left: 0vw;
        top: 0vh;
    }

    4% {
        left: 0vw;
        top: -4.5vh;
    }

    27% {
        left: 44vw;
        top: -4vh;
    }

    54% {

        left: 44vw;
        top: 36vh;
    }

    79% {
        left: 0vw;
        top: 38vh;
    }

    100% {

        left: 0px;
        top: 0px;
    }
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(279deg);
    }

    100% {
        transform: rotate((360deg));
    }
}

@mixin block-animation($data, $trans) {
    content: attr($data);
    position: absolute;
    color: #e7d09e;
    width: 360px;
    overflow: hidden;
    white-space: nowrap;
    animation: light 4s linear;
    // transition: $trans;
    filter: drop-shadow(0 0 20px #3e2703);
}

@mixin h2heading {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    position: relative;

    &:hover {
        color: #dcbb98;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #f2e0e0;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    &:hover::before {
        transform: scaleX(1);
    }
}

.main {
    width: 100%;
    min-height: 100vh;
    padding: 6px;

    .nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        border-bottom: 1px solid rgb(112, 78, 55);
        box-shadow: 0 3px 0 rgb(52, 23, 3);
        padding-right: 2vw;


        .logo {
            width: 4vw;
            height: 4vw;
            background-color: black;

            img {
                width: 100%;
                height: 100%;
            }

            @include respond-to('phone') {
                width: 8vw;
                height: 8vw;
            }

            @include respond-to('tablet') {
                width: 12vw;
                height: 12vw;
            }
        }

        .nav-content {
            display: flex;
            align-items: center;
            position: relative;

            .navigation {
                padding-right: 8vw;
                font-size: 1.3em;


                ul {
                    display: flex;
                    gap: 4vw;
                    transition: visibility 1.2s ease;
                    z-index: 2;

                    li {
                        padding: 1vw;
                        border-radius: 30%;
                        transition: box-shadow 0.7s ease-in-out;
                        transition: font-size 0.7s ease-in-out;
                        font-weight: bold;
                        position: relative;

                        .link {
                            color: #905833;
                        }

                        &:hover {

                            box-shadow: 0 0 25px rgb(236, 174, 93, 0.5);
                            font-size: 1.5rem;
                        }

                        @include respond-to('phone') {
                            @include li-open();
                            padding-left: 5vw;

                            &:nth-child(2n+1) {
                                background-color: #ba8e5e;
                                color: rgb(52, 23, 3);
                            }

                            &::before {
                                @include menu-open-before(3px)
                            }

                        }

                        @include respond-to('tablet') {
                            @include li-open();
                            padding-left: 5vw;
                            font-size: 1.5rem;

                            &:nth-child(2n+1) {
                                background-color: #ba8e5e;
                                color: rgb(52, 23, 3);
                            }

                            &::before {
                                @include menu-open-before(5px)
                            }
                        }
                    }

                    @include respond-to('phone') {
                        @include menu-open();
                    }

                    @include respond-to('tablet') {
                        @include menu-open();
                    }
                }

                .menu {
                    display: none;
                }

                .open-menu {
                    display: flex;

                    @include respond-to('phone') {
                        visibility: visible;
                        animation-name: show-menu;
                        animation-duration: 2s;
                    }

                    @include respond-to('tablet') {
                        visibility: visible;
                        animation-name: show-menu;
                        animation-duration: 2s;
                    }
                }

                .close-menu {
                    display: flex;

                    @include respond-to('phone') {
                        animation-name: hide-menu;
                        animation-duration: 2s;
                        visibility: hidden;

                    }

                    @include respond-to('tablet') {
                        animation-name: hide-menu;
                        animation-duration: 2s;
                        visibility: hidden;
                    }
                }
            }

            .languages {
                select {
                    color: $primary_color;
                    background-color: #000;
                    font-weight: bold;
                    padding: 4px;
                    border: none;
                    font-size: 1.2em;

                    &:hover {
                        box-shadow: 0 0 25px rgb(236, 174, 93, 0.5);
                    }
                }

                @include respond-to('phone') {
                    padding-right: 3vw;

                }

                @include respond-to('tablet') {
                    padding-right: 3vw;
                }

            }

            .nav-btn {
                display: none;
                margin-right: 5vw;
                padding: 3px;
                height: 26px;
                align-items: center;

                .icon-btn {
                    @extend %menu-btn;
                    position: relative;

                    &:before {
                        @extend %menu-btn;
                        content: "";
                        position: absolute;
                        top: 14px;
                        transition-duration: 0.5s;
                    }

                    &:after {
                        @extend %menu-btn;
                        content: "";
                        position: absolute;
                        top: -14px;
                        transition-duration: 0.5s;
                    }

                    @include respond-to('phone') {
                        height: 3px;

                        &:before {
                            height: 2px;
                        }

                        &:after {
                            height: 3px;
                        }
                    }
                }

                .active {
                    background-color: transparent;
                    rotate: 0deg;

                    &:before {
                        rotate: 45deg;
                        top: 0;
                        transition-duration: 0.5s;
                    }

                    &:after {
                        rotate: -45deg;
                        top: 0;
                        transition-duration: 0.5s;
                    }
                }

                @include respond-to('phone') {
                    display: flex;
                }

                @include respond-to('tablet') {
                    display: flex;
                }
            }
        }


    }

    .home {
        display: flex;
        flex-direction: column;
        padding: 2vh 2vw;
        gap: 5vh;
        scroll-behavior: smooth;
        transition: 1s;

        .about-me {
            display: flex;
            align-items: center;
            height: 80vh;
            position: relative;

            .my-link {
                width: 4vw;
                height: 4vw;
                border: 1px solid rgb(165, 104, 42);
                border-radius: 100%;
                background-color: #bd8f59;
                position: absolute;
                box-shadow: 0 0 20px #9e6d1e, inset 0 0 10px #d0bea0;

                img {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    animation: rotate-icon 1s linear;
                }

                img {
                    transform: scale(2);
                }


            }

            .git {
                top: 5vh;
                right: 5vw;

                @include respond-to('tablet') {
                    position: fixed;
                    top: 3vh;
                    left: 30vw;

                }

                @include respond-to('phone') {
                    position: fixed;
                    top: 4vh;
                    left: 30vw;
                }
            }

            .cv {
                top: 20vh;
                right: 5vw;

                @include respond-to('tablet') {
                    position: fixed;
                    top: 3vh;
                    left: 40vw;
                }

                @include respond-to(('phone')) {
                    position: fixed;
                    top: 4vh;
                    left: 40vw;
                }
            }

            .lin {
                right: 5vw;
                overflow: hidden;

                @include respond-to('tablet') {
                    position: fixed;
                    top: 3vh;
                    left: 50vw;

                }

                @include respond-to('phone') {
                    position: fixed;
                    top: 4vh;
                    left: 50vw;

                }
            }

            .my-data {
                width: 40vw;
                font-family: "Prompt", sans-serif;
                font-weight: 400;
                font-style: normal;
                line-height: 3.5vh;
                transition: transform 1s;
                position: relative;

                &:hover {
                    // padding-left: 3vw;
                    transform: translateX(5vw) scale(1.1);

                    .border {

                        width: 40vw;
                        height: 36vh;
                        background-color: transparent;
                        border: 6px solid rgb(197, 161, 98);
                        box-shadow: 0 0 10px rgb(236, 230, 222);
                        transform: rotate(2deg);
                        position: absolute;
                        top: 0vh;
                        left: -1vh;
                    }

                    .border::before {
                        content: "";
                        position: absolute;
                        top: -7vh;
                        left: -8vh;
                        width: 48vw;
                        height: 48vh;
                        background-color: transparent;
                        border: 6px solid rgb(89, 33, 3);
                        box-shadow: 0 0 10px rgb(165, 81, 42);
                        transform: rotate(-2deg);
                    }

                    .border::after {
                        content: "";
                        position: absolute;
                        // width: 16px;
                        // height: 16px;
                        width: 30px;
                        height: 30px;
                        margin-left: -3vw;
                        background-color: #ddc9c6;
                        background-image: url(../src/assets/images/logo.png);
                        background-size: contain;
                        border-radius: 100%;
                        animation: circle 15s infinite ease-in-out;
                    }
                }



                h3 {
                    color: #f2e0ba;
                    font-size: 1.5rem;
                    padding: 1vh 2vh;
                    position: relative;
                }

                .hi:hover::before {
                    @include block-animation(data-hi, 1s)
                }

                h2 {
                    font-size: 2.5rem;
                    padding: 1vh 2vh;
                }

                .level {
                    color: $primary_color;
                }

                p {
                    height: 15vh;
                    padding: 1vh 2vh;
                    font-size: 1.3rem;
                    font-family: "Satisfy", cursive;
                    font-weight: 400;
                    font-style: normal;
                }
            }

            .my-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60vw;
                height: 100%;
                background-image: url('./assets/images/bg1.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow: inset 0 0 40px #000;

                .figure {
                    width: 16vw;
                    height: 40vh;
                    overflow: hidden;
                    background-position: right;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-color: #fff;
                    background-image: url('./assets/images/me2sh.jpg');
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    grid-template-rows: repeat(10, 1fr);

                    &:hover {
                        transform: scale(1.5);
                        transition: 1s ease-in-out;
                        border-top-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        box-shadow: 0px 0px 5px 5px rgb(37, 15, 1);
                    }

                    img {
                        // width: 100%;
                        // height: 100%;
                        width: 70vw;
                        height: 70vh;
                    }
                }
            }

            @include respond-to('tablet') {
                position: relative;

                .my-data {
                    display: flex;
                    flex-direction: column;
                    width: 40vw;
                    height: 40vh;
                    z-index: 1;
                    position: absolute;
                    top: 7vh;
                    left: 0;
                    background-color: rgba(0, 0, 0);

                    h2 {
                        font-size: 2rem;
                        padding: 0vh 2vh;
                    }


                    p {
                        padding: 0vh 2vh;
                    }

                }

                .my-img {
                    width: 100vw;
                    background-image: url('./assets/images/bg2.jpg');
                    position: relative;

                    .figure {
                        display: flex;
                        border: none;
                        transform: scale(0.5);
                        position: absolute;
                        top: 6vh;
                        right: -12vw;
                        width: 70vw;
                        height: 40vh;

                    }
                }
            }


            @include respond-to('phone') {
                flex-direction: column;

                background-position: left;

                .my-data {
                    display: flex;
                    flex-direction: column;
                    width: 46vw;
                    height: 32vh;
                    z-index: 1;
                    position: absolute;
                    top: 12vh;
                    left: -2vw;
                    background-color: rgba(0, 0, 0);

                    h3 {
                        font-size: 1rem;
                    }

                    .hi {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    .hi {
                        display: none;
                    }

                    h2 {
                        font-size: 1.5rem;
                        padding: 0vh 2vh;
                        position: fixed;
                        top: 20vh;
                        right: 0;
                        color: #130900;
                        box-shadow: 0 0 10px rgb(219, 192, 158);
                    }


                    p {
                        padding: 0vh 2vh;
                        font-size: 0.7rem;
                    }
                }

                .my-img {
                    width: 100vw;
                    background-image: url('./assets/images/bg2.jpg');
                    // background-image: url('./assets/images/bg1.jpg')
                    position: relative;

                    .figure {
                        right: -20vw;

                    }
                }
            }




        }

        .skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16vh;

            .h2Skills {
                @include h2heading();
            }


            .languages {
                display: flex;
                justify-content: space-around;
                width: 80%;
                gap: 2vw;

                .oneLng {
                    width: 18vh;
                    height: 20vh;

                    p {
                        width: 16vh;
                        font-family: "Pacifico", cursive;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 1.5rem;
                        margin-left: -8vh;
                        padding-right: 1vw;
                        text-align: right;
                        // border-bottom: 1px solid rgb(251, 233, 210);
                        box-shadow: 0 2px 20px rgb(251, 233, 210);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .technologie {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 80%;
                gap: 3vw;

                .oneTech {
                    height: 23vh;
                    width: 23vh;
                    box-shadow: #d0bea0;
                    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
                    border: 3px solid rgb(224, 174, 130);
                    filter: drop-shadow(0 0 10px rgb(225, 193, 149));
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    // background-color: rgba(249, 219, 198, 0.3);

                    .nameTech {
                        font-size: 1.3rem;
                        font-weight: bold;
                        // color: #261102;
                    }

                    .imgTech {
                        width: 9vh;
                        height: 9vh;
                    }

                    .rangTech {
                        display: flex;
                        gap: 10px;

                        .point {
                            width: 1.2vh;
                            height: 1.2vh;
                            border-radius: 50%;
                        }

                        .plus {
                            border: 1px solid #d38c5c;

                        }

                        .minus {
                            background-color: #d38c5c;

                        }
                    }
                }
            }

            @include respond-to('tablet') {
                margin-top: -30vh;
                z-index: 1;
                background-color: #000;

                .languages {

                    .h2Skills {
                        // margin-top: -20vh /*change
                    }

                    .oneLng {
                        width: 16vh;
                        height: 18vh;

                        p {
                            box-shadow: none;
                        }
                    }
                }

                @include respond-to('phone') {
                    .languages {
                        gap: 5vw;

                        .oneLng {
                            width: 14vh;
                            height: 14vh;

                            p {
                                font-size: 1rem;
                            }
                        }


                    }

                }
            }
        }

        .slides {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16vh;
            padding-top: 10vh;

            .h2Collaps {
                @include h2heading();

            }

            .slideshow {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5vh 0;
                background-image: url(./assets/images/pr/bg.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                position: relative;
                box-shadow: 3px 5px 25px 11px rgba(222, 120, 3, 0.45);

                .project {
                    width: 80vh;
                    height: 40vh;
                    border: 2px solid rgb(225, 198, 170);
                    position: relative;
                    border-image: linear-gradient(45deg, #e7bf94, #d4876a, #381502) 1;
                    box-shadow: 3px 3px 10px #381502, 5px 5px 10px #e7bf94, 7px 7px 10px #e7bf94,
                        -3px -3px 10px #381502, -5px -5px 10px #2b1b0a, -7px -7px 10px #e8ac6b, ;
                    transition: all 3000ms ease-in-out;

                    .point {
                        width: 2vh;
                        height: 2vh;
                        position: absolute;
                        top: 1px;
                        right: 1px;
                    }

                    figure {
                        width: 100%;
                        height: 80%;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .projectInf {
                        width: 100%;
                        height: 20%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #000;


                        .projectName {
                            font-weight: bold;
                            font-size: 2rem;
                            position: absolute;
                            top: 1vh;
                            left: 1vh;
                            color: #b36017;
                            background-color: transparent;
                        }

                        .services {
                            width: 90%;
                            height: 100%;
                            font-weight: bold;
                            font-size: 1rem;

                            span {
                                padding-left: 10px;
                            }
                        }

                        .button {
                            border-radius: 20px;
                            background-color: #3e1403;
                            color: #d0bea0;
                            height: 4vh;
                            padding: 8px;
                            font-weight: bold;
                            font-family: Matemasie;

                            &:hover {
                                box-shadow: 2px 2px 10px rgb(237, 181, 141), -2px -2px 10px rgb(237, 181, 141);
                            }
                        }
                    }
                }

                .centerProj {
                    z-index: 5;
                }

                .prev,
                .next {
                    height: 30vh;
                    width: 48vh;
                    pointer-events: none;

                    @include respond-to('tablet') {
                        .projectInf {
                            .projectName {
                                font-size: 1.5rem;
                            }

                            .services {
                                font-size: 0.8rem;

                            }
                        }
                    }



                }

                .sledeBtn {
                    width: 5vh;
                    height: 5vh;
                    background-color: rgb(91, 51, 3);
                    // border-radius: 50%;
                    border: 15px solid rgb(249, 214, 150);
                    position: absolute;
                    top: 43%;
                }

                .prevBtn {
                    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                    left: calc(37% - 70vh);

                    @include respond-to('tablet') {
                        left: 1vw;
                    }
                }

                .nextBtn {
                    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
                    right: calc(37% - 70vh);

                    @include respond-to('tablet') {
                        right: 1vw;
                    }
                }

                @include respond-to('phone') {

                    .project {
                        width: 80%;
                    }

                    .prev,
                    .next {
                        display: none;

                        .projectInf {
                            .button {
                                height: 2vh;
                                padding: 1px;
                            }
                        }
                    }
                }

            }

        }




    }

    .projects-list {
        width: 100%;
        min-height: 80vh;
        display: flex;
        padding: 30px 10px;

        // &:hover {
        //     transform: scale(2);
        // }

        .filter {
            width: 20vw;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 1.5rem;

            label {
                display: flex;
                gap: 10px;

                input[type=checkbox] {
                    transform: scale(1.4);
                    padding-right: 6px;
                }
            }
        }

        .projects-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 30px;
            padding: 30px;
            transition: 0.5s;

            .project-card {
                background-color: white;
                border: 3px solid rgba(43, 21, 7, 0.971);
                width: 20vw;
                height: 64vh;
                border-radius: 10px;
                transition: 0.6s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0px 0px 6px 6px wheat;
                }

                .pr-img {
                    width: 100%;
                    height: 40%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .pr-name,
                .pr-description,
                .pr-lib,
                .pr-links {
                    padding-left: 6px;
                    padding-right: 6px;
                    padding-bottom: 4px;
                }

                .pr-name {
                    font-family: 'Matemasie';
                    font-size: 2rem;
                    color: #220c00;
                    font-size: 1.7rem;
                }

                .pr-description {
                    padding-bottom: 8px;
                    color: #581f00;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }

                .pr-links {
                    display: flex;
                    gap: 10px;
                    padding-top: 10px;
                    padding-bottom: 10px;



                    .pr-url {
                        cursor: pointer;
                        padding-bottom: 10px;
                        font-weight: bold;
                        color: #220c00;
                        background-color: black;
                        padding: 6px;
                        border-radius: 10px;

                        &:hover {
                            box-shadow: 0px 0px 5px 6px rgb(40, 23, 12);

                        }

                        a {
                            color: #cc9f56;
                        }

                    }

                }

                .pr-lib {
                    p {
                        font-weight: bold;
                        color: #120904;
                        font-size: 1.5rem;
                        font-family: 'Matemasie';
                    }

                    span {
                        font-size: 1.3rem;
                        color: #581f00;
                    }

                    .prser {
                        font-weight: bold;
                    }
                }


            }
        }

        @include respond-to('tablet') {
            .projects-list {
                justify-content: space-between;

                .project-card {
                    width: 32vw;
                    height: fit-content;
                }
            }
        }

        @include respond-to('phone') {
            .projects-list {
                justify-content: center;
                padding: 0;
                padding-left: 50px;

                .project-card {
                    width: 100%;
                    height: fit-content;
                }

            }

            .filter {
                width: 10vw;
                font-size: 1rem;

                label {
                    display: flex;
                    gap: 5px;

                    input[type=checkbox] {
                        transform: scale(1);
                        padding-right: 6px;
                    }
                }


            }



        }

    }


    .footer {
        height: 8vh;
        width: 100vw;
        // position: absolute;
        // bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}